.MrClayGraphW {
	position:relative;
	border:1px solid #ccc;
	margin:2em;
	background:#fff;
	font-size:smaller;
}
.MrClayGraphC {
	vertical-align:bottom;
}

.MrClayGraphW .mcg_left,
.MrClayGraphW .mcg_right,
.MrClayGraphW .mcg_top,
.MrClayGraphW .mcg_bottom {
	color:#999;
	line-height:1;
	position:absolute;
	text-align:center;}

.MrClayGraphW .mcg_left div,
.MrClayGraphW .mcg_right div,
.MrClayGraphW .mcg_top div,
.MrClayGraphW .mcg_bottom div {
	position:relative;}
	
.MrClayGraphW .mcg_left div,
.MrClayGraphW .mcg_right div {
	white-space:nowrap;}

.MrClayGraphW .mcg_left {
	right:100%;}
.MrClayGraphW .mcg_left div {
	margin-top:-0.5em;
	padding-right:0.4em;}
	
.MrClayGraphW .mcg_right {
	left:100%;}
.MrClayGraphW .mcg_right div {
	margin-top:-0.5em;
	padding-left:0.4em;}

.MrClayGraphW .mcg_top,
.MrClayGraphW .mcg_bottom {
	left:0;
	width:100%;}
.MrClayGraphW .mcg_top div,
.MrClayGraphW .mcg_bottom div {
	display:inline;}

.MrClayGraphW .mcg_top {
	bottom:100%;}
.MrClayGraphW .mcg_top div {
	bottom:0.3em;}
	
.MrClayGraphW .mcg_bottom {
	top:100%;}
.MrClayGraphW .mcg_bottom div {
	top:0.2em;}
