<?xml version="1.0"?>
<widget>
  <widgetname>Latest Del.icio.us Posts</widgetname>
  <description>
    Quick access to your (or another user's) most recently added del.icio.us bookmarks. You can also search under particular tags and combinations of tags.
  </description>
  <width>450</width>
  <height>450</height>
  <author>
    <name>Stephen Clay</name>
    <email>steve@mrclay.org</email>
    <link>http://mrclay.org/</link>
    <organization>mrclay.org</organization>
  </author>
  <id>
    <host>mrclay.org</host>
    <name>Latest Del.icio.us Posts</name>
    <revised>2006-07-04</revised>
  </id>
</widget>