#body {
	width:400px;
	padding:10px 0 0;
	position:relative;}
#del {
	position:absolute;
	top:9px;
	left:375px;
	z-index:100;
	cursor:pointer;}
#del img {
	width:22px;
	height:22px;}

.tooltip {
	position:absolute;
	padding:3px;
	border:1px solid #999;
	font-family:sans-serif;
	font-size:80%;
	background:#fff;
	display:none;
}
*:hover > .tooltip {
	display:block;}

#del span {
	top:0px;
	right:24px;}
#flip {
	position:absolute;
	bottom:-11px;
	right:2px;
	z-index:100;
	cursor:pointer;
	opacity:.5;}
#flip:hover {
	opacity:1;}
	#flip img {
		vertical-align:bottom;}
	#flip span {
		bottom:18px;
		right:0px;
		white-space:nowrap;}
#search {
	text-align:right;
	margin-right:30px;}
#search input[type=submit] {
	width:70px;}
#search input[type=text] {
	width:235px;}

form {
	margin:0;}
input[type=text]:focus {
	background:#ffc;}
	
#results {
	font-size:small;
	font-family:sans-serif;
	margin:5px 0 0;
	padding:10px 5px 10px 3px;
	height:300px;
	overflow:auto;}
	#results ul {
		padding:0;
		margin:0;
		list-style:none;}
	#results li {
		margin:.5em 0;
		padding:0 0 0 22px;}
	#results li:first-child {
		margin:0;}
	#results ul.noIcons li {
		padding-left:0;}
	#results a img {
		width:16px;
		height:16px;
		margin:0 8px 0 -23px;
		visibility:hidden;}
	#results a img.v {
		visibility:visible;}
	#results small {
		font-size:90%;}
		#results small a {
			color:#000;}
	.rc {
		background:url(img/resultEdges.png) top left;
		height:15px;
		position:absolute;
		top:27px; left:5px; right:18px;}
	.rc + .rc {
		background-position:bottom left;
		top:332px;}

#prefs {
	font-family:sans-serif;
	font-size:90%;}
	#prefs h1 {
		font-size:120%;
		text-align:right;
		margin:0 30px;
		color:#00f;
		font-style:italic;}
	#prefs h2 {
		font-size:110%;
		margin:15px 0 3px;}
		#prefs h2 + p {
			margin-top:0;}

#notes, #notes + p {
	color:#666;}
#notes + p a {
	color:#5B5BFF;}

.none {
	display:none;}

.hidePrefs #prefs {
	display:none;}
.showPrefs #controls, .showPrefs #results, .showPrefs .rc {
	display:none;}
	
/***** Images on All Sides box *****/
.cB, .cBw {
	background:url(img/bg_bottom.png) bottom left;}
.cB {
	position:relative;
	padding:0 5px 12px 7px;
	}
.cBw {
	position:absolute;
	right:-12px;
	top:0;
	bottom:0;
	width:12px;
	background-position:bottom right;}
.cBt {
	background:url(img/bg_top.png) top right;
	position:absolute;
	top:-10px;
	height:10px;
	left:8px;
	right:-12px;}
.cBt div {
	background:url(img/bg_top.png) top left;
	position:absolute;
	left:-8px;
	top:0;
	bottom:0;
	width:8px;}
